.combo__links {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}
.combo__link {
  border: 2px solid #2865A8;
  padding: 5px;
  box-sizing: border-box;
  color: #2865A8;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.4px;
}
.combo__items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.combo__item-title {
  color: #2865A8;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 30px;
}
.combo__wrapper {
  padding: 44px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background: #F9F9F9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
.combo__item-block {
  display: flex;
}
.combo__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.combo__item-compound a {
  margin-left: 15px;
  text-decoration: none;
  color: #616161;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  line-height: 130%;
}
.combo__item-compound a::first-letter {
  text-transform: capitalize;
}
.combo__item-compound a:hover {
  color: #2865A8;
  transition: all 0.3s;
}
.combo__item-subtitle {
  color: #2865A8;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.combo__item-images {
  position: relative;
  height: 300px;
  width: 400px;
}
.combo__item-images img {
  transition: all 0.3s;
}

.price {
  display: flex;
}
.price__text {
  color: #244768;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
.price__text span {
  color: #E2001A;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.price__text .price__old {
  color: #BEBEBE;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.48px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.combo-start img:nth-child(1) {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 3;
}
.combo-start img:nth-child(2) {
  position: absolute;
  top: 110px;
  left: 95px;
  z-index: 2;
}
.combo-start img:nth-child(3) {
  position: absolute;
  top: 129px;
  left: 235px;
  z-index: 2;
}
.combo-start img:nth-child(4) {
  position: absolute;
  top: -10px;
  left: 95px;
  z-index: 1;
}
.combo-start img:nth-child(5) {
  position: absolute;
  top: 200px;
  left: 50px;
  z-index: 5;
}

.filtered {
  filter: grayscale(1);
}

.no-filtered {
  filter: grayscale(0);
}

.combo-plus img:nth-child(1) {
  position: absolute;
  top: 80px;
  left: 70px;
  z-index: 7;
}
.combo-plus img:nth-child(2) {
  position: absolute;
  top: 120px;
  left: 260px;
  z-index: 7;
}
.combo-plus img:nth-child(3) {
  position: absolute;
  top: 190px;
  left: 20px;
  z-index: 7;
}
.combo-plus img:nth-child(4) {
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: 7;
}
.combo-plus img:nth-child(5) {
  position: absolute;
  top: 40px;
  left: -20px;
  z-index: 5;
}
.combo-plus img:nth-child(6) {
  position: absolute;
  top: 55px;
  right: -45px;
  z-index: 5;
}
.combo-plus img:nth-child(7) {
  position: absolute;
  top: -20px;
  left: 75px;
  z-index: 5;
}

.combo-opti img:nth-child(1) {
  position: absolute;
  top: 150px;
  left: 240px;
  z-index: 7;
}
.combo-opti img:nth-child(2) {
  position: absolute;
  top: 150px;
  left: -10px;
  z-index: 7;
}
.combo-opti img:nth-child(3) {
  position: absolute;
  top: 110px;
  left: 350px;
  z-index: 4;
}
.combo-opti img:nth-child(4) {
  position: absolute;
  top: 120px;
  left: 55px;
  z-index: 6;
}
.combo-opti img:nth-child(5) {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.combo-opti img:nth-child(6) {
  position: absolute;
  top: -40px;
  left: 80px;
  z-index: 0;
}
.combo-opti img:nth-child(7) {
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 5;
}

.combo-luxe img:nth-child(1) {
  position: absolute;
  top: 230px;
  left: 100px;
  z-index: 7;
}
.combo-luxe img:nth-child(2) {
  position: absolute;
  top: 200px;
  left: 30px;
  z-index: 8;
}
.combo-luxe img:nth-child(3) {
  position: absolute;
  top: 185px;
  left: 50px;
  z-index: 7;
}
.combo-luxe img:nth-child(4) {
  position: absolute;
  top: 125px;
  left: 200px;
  z-index: 6;
}
.combo-luxe img:nth-child(5) {
  position: absolute;
  top: 110px;
  left: 115px;
  z-index: 6;
}
.combo-luxe img:nth-child(6) {
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 4;
}
.combo-luxe img:nth-child(7) {
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 5;
}
.combo-luxe img:nth-child(8) {
  position: absolute;
  top: 125px;
  right: -15px;
  z-index: 5;
}
.combo-luxe img:nth-child(9) {
  position: absolute;
  top: 175px;
  right: -15px;
  z-index: 6;
}
.combo-luxe img:nth-child(10) {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 4;
}

.combo-show img:nth-child(1) {
  position: absolute;
  top: 15px;
  left: -25px;
  z-index: 4;
}
.combo-show img:nth-child(2) {
  position: absolute;
  top: 100px;
  right: 15px;
  z-index: 2;
}
.combo-show img:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.combo-show img:nth-child(4) {
  position: absolute;
  top: 0px;
  left: 190px;
  z-index: 0;
}
.combo-show img:nth-child(5) {
  position: absolute;
  top: 95px;
  left: 115px;
  z-index: 3;
}